@import url(http://fonts.googleapis.com/css?family=Roboto:400,200,900,700,300);
a {
  font-weight: bold;
  text-decoration: none;
  color: black; }

input.form-control, textarea.form-control, select.form-control {
  border: 1px solid #eee;
  border-radius: 0px;
  outline: none;
  box-shadow: none; }

body {
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

a, p, span, input, textarea, label {
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.alert p {
  font-size: 11pt; }

.input-group {
  margin: 15px 0px 15px 0px; }

.btn {
  border-radius: 0px; }

.no-padding, .view {
  padding: 0px; }

#wrapper {
  position: relative;
  min-height: 100%;
  width: 100%;
  min-width: 800px;
  background-color: white; }
  #wrapper .nav {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 64px;
    background-color: #222;
    box-shadow: inset -20px 0px 30px -20px black; }
    #wrapper .nav li {
      position: relative;
      height: 64px;
      width: 64px;
      text-align: center;
      border-bottom: 1px solid #000;
      color: white; }
      #wrapper .nav li i {
        position: absolute;
        top: 24px;
        left: 24px; }
      #wrapper .nav li:hover {
        background-color: #444; }
  #wrapper .view {
    margin-left: 64px; }
    #wrapper .view.full-width {
      margin: 0; }
      #wrapper .view.full-width .jumbotron {
        margin-bottom: 0px; }

.jumbotron {
  background-color: transparent; }

.no-margin {
  margin: 0; }

textarea {
  resize: none; }

.clear {
  clear: both; }

.login {
  position: relative; }

.toolbar {
  padding: 15px;
  text-align: center; }

.logo img {
  width: 100%; }

.gallery-cover {
  position: relative;
  padding: 0px; }
  .gallery-cover img {
    width: 100%; }
  .gallery-cover h4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    margin: 0px;
    font-weight: 100; }
  .gallery-cover span.counter {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #222;
    color: white;
    border: 1px solid white; }
  .gallery-cover:hover img {
    opacity: 0.9; }
  .gallery-cover:hover h4 {
    background-color: black; }

#photo-carousel img {
  height: 500px; }

.gallery-fileupload {
  padding: 20px 0px 20px 0px; }

.image-gallery {
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0px;
  text-align: center; }
  .image-gallery .image-container {
    position: relative;
    float: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-left: -5px;
    overflow: hidden;
    vertical-align: top; }
    .image-gallery .image-container img {
      width: 100%; }
    .image-gallery .image-container label {
      margin: 0;
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 100;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      cursor: pointer; }

.page {
  width: 100%;
  min-height: 100%; }

.view {
  position: absolute;
  width: auto;
  left: 0px;
  right: 0px; }
  .view ul.list {
    padding: 20px;
    margin: auto; }
    .view ul.list li {
      padding: 10px;
      border-bottom: 1px dashed #aaa; }
      .view ul.list li:hover {
        background-color: #aaa; }

h2 {
  vertical-align: baseline; }

.view {
  position: absolute;
  min-height: 100%;
  width: auto;
  right: 0px;
  left: 0px; }

.preview-gallery-header {
  position: absolute;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  z-index: 10;
  top: 20px;
  left: 7px; }
  .preview-gallery-header h4 {
    padding: 0px;
    margin: 0px; }

.ordered {
  padding: 0px; }
  .ordered tr th, .ordered tr td {
    vertical-align: middle !important;
    padding: 0px !important; }
  .ordered img {
    width: 64px; }

.img-container {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  bottom: 111px; }
  .img-container .image-big {
    position: absolute;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%; }
    .img-container .image-big img {
      display: inline-block;
      height: 100%; }

.img-gallery-scroller {
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: scroll;
  background-color: #000; }
  .img-gallery-scroller .image-preview {
    position: relative;
    width: 96px;
    float: left;
    margin: 0;
    padding: 0; }
    .img-gallery-scroller .image-preview img {
      width: 100%; }
    .img-gallery-scroller .image-preview.selected {
      background-color: white; }
      .img-gallery-scroller .image-preview.selected img {
        opacity: 0.5; }
      .img-gallery-scroller .image-preview.selected:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -12px;
        border-top: 12px solid white;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent; }
